---
layout: default
---

<section>
  <div class="post-container">
    <h4 class="project-title">Audio Software Developer</h4>
    <div class="project-load">
        <ul>
            <li>Freelance audio software developer with 6+ years’ experience, specialised in DSP design and audio applications</li>
            <li>Clients have included Taqs.im, Sonic Nomad and Digitaize (of C. Bechstein Digital)</li>
            <li>Passionate Delivering powerful musical experiences in software</li>
            <li>Strong background in real time audio processing and sound design</li>
            <li>I have brought multiple successful products to market for various clients</li>
            <li>I also have a background as a live musician, in audio production and studying Musicology</li>
        </ul>
    </div>
    <h4 class="project-title">Recent Projects</h4>
  </div>

{% include projects.html %}

</section>
